torch==2.0.1
torch-scatter -f https://data.pyg.org/whl/torch-2.0.0+cu118.html
# torch-sparse @ https://data.pyg.org/whl/torch-2.0.0+cu118.html
# torch-cluster @ https://data.pyg.org/whl/torch-2.0.0+cu118.html
# torch-spline-conv @ https://data.pyg.org/whl/torch-2.0.0+cu118.html
torch-geometric